/* Poker votes table styles */
.votes-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.votes-list-item {
  margin: 0.5rem 0;
}
.votes-list-name {
  width: 60px;
  display: inline-block;
}
.votes-list-vote {
  width: 40px;
  display: inline-block;
  margin-left: 1rem;
}
.col-1, .col-2 {
    display: flex;
    flex-direction: column;
    /**/
    /* padding: 0.5rem; */
    /* border: 1px solid red; */
}
.col-1 {
    min-width: 0;
    gap: 0.5rem;
}
.col-2 {
    min-width: 0;
}
.card {
    background: white;
    /* border-radius: 12px; */
    padding: 1.25rem;
    box-shadow: 0 6px 15px rgba(0,0,0,0.15);
    border: 2px solid #ddd;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.nested-card {
    display: inline-block;
    background: #f9f9f9;
    border-radius: 10px;
    padding: 0.75rem;
    box-shadow: inset 0 2px 6px rgba(0,0,0,0.08);
    border: 1px solid #ccc;
    /**/
    margin-top: 0.5rem;
    margin-right: 0.5rem;
}
.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}